# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Castalia
Castalia/CastaliaBin
Castalia/Makefile
Castalia/out/gcc-release/CastaliaBin
Castalia/out/gcc-release/.last-copts
Castalia/Simulations/valueReporting/*-*.txt
